{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Make Molecule Property Prediction</legend>
          <div class="form-group">
            {{ form.smiles.label(class="form-control-label") }}
            {% if form.smiles.errors %}
              {{ form.smiles(class="form-control form-control-lg") }}
              <div class="invalid-feedback d-block">
                {% for error in form.smiles.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.smiles(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group pt-3">
            {{ form.endpoint.label(class="form-control-label") }}
            {% if form.endpoint.errors %}
              {{ form.endpoint(class="form-control form-control-lg") }}
              <div class="invalid-feedback d-block">
                {% for error in form.endpoint.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {% for ep in form.endpoint %}
                <tr>
                  <td>{{ ep(class="endpoint", required="required") }}</td>
                  <td>{{ ep.label(class="endpoint") }}</td>
                </tr>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group pt-3">
            {{ form.model.label(class="form-control-label") }}
            {% if form.model.errors %}
              {{ form.model(class="form-control form-control-lg") }}
              <div class="invalid-feedback d-block">
                {% for error in form.model.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.model.label }}
              {{ form.model }}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group pt-3">
          {{ form.submit(class="btn btn-primary") }}
        </div>
        <script src="{{ url_for('static', filename='js/update_model_dropdown.js') }}"></script>
      </form>
    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    {% if plot %}
      <div class="content-section">
        <legend class="border-bottom mb-4">Prediction</legend>
        <div>
          {{ 'SMILES:   ' + prediction.smiles }}
          <br>
          {{ 'Endpoint: ' + prediction.endpoint }}
          <br>
          {{ 'Predictor: ' + prediction.predictor }}
          <br>
          {{ 'Prediction: ' + prediction.thresholded_preds }}
        </div>
<!--        <div class="row">-->
<!--          <div>-->
<!--            <div class="chart" id="graph" style="width:100%">-->
<!--                <script>-->
<!--                    var data = {{ plot | safe }};-->
<!--                    var layout = {autosize: true};-->
<!--                    var config = {responsive: true};-->
<!--                    Plotly.plot( 'graph', data, layout, config);-->
<!--                </script>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    {% endif %}

    {% if mol_img %}
      <div class="content-section">
        <legend class="border-bottom mb-4">Visualization</legend>
        <div class="row">
          <div>
            <img src="data:image/png;base64, {{ mol_img | safe }}" alt="Red dot">
          </div>
        </div>
      </div>
    {% endif %}

{% endblock content %}

